---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% raw %}{% if site.author.googlescholar %}{% endraw %}
  <div class="wordwrap">
    You can also find my articles on
    <a href="{{ site.author.googlescholar }}">my Google Scholar profile</a>.
  </div>
{% raw %}{% endif %}{% endraw %}

{% raw %}{% include base_path %}{% endraw %}

{% raw %}{% if site.publication_category %}{% endraw %}
  {% raw %}{% for category in site.publication_category %}{% endraw %}
    {% raw %}{% assign title_shown = false %}{% endraw %}
    {% raw %}{% for post in site.publications reversed %}{% endraw %}
      {% raw %}{% if post.category != category[0] %}{% endraw %}
        {% raw %}{% continue %}{% endraw %}
      {% raw %}{% endif %}{% endraw %}

      {% raw %}{% unless title_shown %}{% endraw %}
        <h2>{{ category[1].title }}</h2>
        <hr />
        {% raw %}{% assign title_shown = true %}{% endraw %}
      {% raw %}{% endunless %}{% endraw %}

      {% comment %} Determine authors with fallbacks {% endcomment %}
      {% raw %}{% assign authors_field = post.authors %}{% endraw %}
      {% raw %}{% if authors_field == nil or authors_field == "" %}{% endraw %}
        {% raw %}{% assign authors_field = post.author %}{% endraw %}
      {% raw %}{% endif %}{% endraw %}
      {% raw %}{% if authors_field == nil or authors_field == "" %}{% endraw %}
        {% raw %}{% assign authors_field = site.author.name %}{% endraw %}
      {% raw %}{% endif %}{% endraw %}
      {% raw %}{% assign authors_list = authors_field | split: ", " %}{% endraw %}

      <div class="publication-entry">
        <span class="publication-authors">
          {% raw %}{% for author in authors_list %}{% endraw %}
            {% raw %}{% if author == "Haoyue Li" %}{% endraw %}
              <strong>{{ author }}</strong>
            {% raw %}{% else %}{% endraw %}
              {{ author }}
            {% raw %}{% endif %}{% endraw %}
            {% raw %}{% unless forloop.last %}, {% endunless %}{% endraw %}
          {% raw %}{% endfor %}{% endraw %}
        </span>
        {% raw %}{% if post.category == "articles" or post.category == "conferences" %}{% endraw %}
          ({{ post.date | date: "%Y" }}).
        {% raw %}{% else %}{% endraw %}
          .
        {% raw %}{% endif %}{% endraw %}
        <em><a href="{{ post.paperurl }}">{{ post.title }}</a></em>.
        {{ post.venue }}.
        {% raw %}{% if post.slidesurl %}{% endraw %}
          <a href="{{ post.slidesurl }}">[Slides]</a>
        {% raw %}{% endif %}{% endraw %}
        {% raw %}{% if post.bibtexurl %}{% endraw %}
          <a href="{{ post.bibtexurl }}">[Bib]</a>
        {% raw %}{% endif %}{% endraw %}
      </div>

    {% raw %}{% endfor %}{% endraw %}
  {% raw %}{% endfor %}{% endraw %}
{% raw %}{% else %}{% endraw %}
  {% raw %}{% for post in site.publications reversed %}{% endraw %}
    {% comment %} Fallback chain for ungrouped posts {% endcomment %}
    {% raw %}{% assign authors_field = post.authors %}{% endraw %}
    {% raw %}{% if authors_field == nil or authors_field == "" %}{% endraw %}
      {% raw %}{% assign authors_field = post.author %}{% endraw %}
    {% raw %}{% endif %}{% endraw %}
    {% raw %}{% if authors_field == nil or authors_field == "" %}{% endraw %}
      {% raw %}{% assign authors_field = site.author.name %}{% endraw %}
    {% raw %}{% endif %}{% endraw %}
    {% raw %}{% assign authors_list = authors_field | split: ", " %}{% endraw %}

    <div class="publication-entry">
      <span class="publication-authors">
        {% raw %}{% for author in authors_list %}{% endraw %}
          {% raw %}{% if author == "Haoyue Li" %}{% endraw %}
            <strong>{{ author }}</strong>
          {% raw %}{% else %}{% endraw %}
            {{ author }}
          {% raw %}{% endif %}{% endraw %}
          {% raw %}{% unless forloop.last %}, {% endunless %}{% endraw %}
        {% raw %}{% endfor %}{% endraw %}
      </span>
      {% raw %}{% if post.category == "articles" or post.category == "conferences" %}{% endraw %}
        ({{ post.date | date: "%Y" }}).
      {% raw %}{% else %}{% endraw %}
        .
      {% raw %}{% endif %}{% endraw %}
      <em><a href="{{ post.paperurl }}">{{ post.title }}</a></em>.
      {{ post.venue }}.
      {% raw %}{% if post.slidesurl %}{% endraw %}
        <a href="{{ post.slidesurl }}">[Slides]</a>
      {% raw %}{% endif %}{% endraw %}
      {% raw %}{% if post.bibtexurl %}{% endraw %}
        <a href="{{ post.bibtexurl }}">[Bib]</a>
      {% raw %}{% endif %}{% endraw %}
    </div>
  {% raw %}{% endfor %}{% endraw %}
{% raw %}{% endif %}{% endraw %}



